<button type="button" *ngIf="!user" (click)="signInWithGoogle()" class="mdl-button mdl-js-button mdl-js-ripple-effect customButton">
  <i class="material-icons">person</i>
  Login</button>
<div *ngIf="user">
    <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="showUSerInfo()">
            {{user.name | userName}}
        </button>
    </div>
    <div *ngIf="menuOpen" class="userDetail">
        <div class="username">Google account: {{user.name}}</div>
        <div>{{user.email}}</div>
        <button class="mdl-button mdl-js-button mdl-button--raised" (click)="signOut()">Sign Out</button>
    </div>
</div>
