<button type="button" *ngIf="!user" (click)="signInWithGoogle()"  id="_googleSignIn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored customButton">
  <i class="material-icons">person</i>
  Sign in with Google</button>
<div class="mdl-tooltip" data-mdl-for="_googleSignIn">
  Sign in with your Google Account
</div>
<div *ngIf="user">
    <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background: rgb(193, 41, 41)" (click)="showUSerInfo()">
            {{user.name ? (user.name | userName) : userName}}
        </button>
    </div>
    <div *ngIf="menuOpen" class="userDetail">
        <div class="username">Google account: {{user.name}}</div>
        <div>{{user.email}}</div>
        <button class="mdl-button mdl-js-button mdl-button--raised" (click)="signOut()">Sign Out</button>
    </div>
</div>
