<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header ">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">FindYourGetaway</span>
      <div
        class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label mdl-textfield--align-right customNavTextField has-placeholder is-upgraded">
        <app-global-search></app-global-search>
      </div>
      <nav class="mdl-navigation">
        <a>
          <sign-in></sign-in>
        </a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer" style="z-index: 999">
    <span class="mdl-layout-title">FindYourGetaway</span>
    <nav class="mdl-navigation customMdlNavigation">
      <a class="mdl-navigation__link" routerLink="/" href="">
        <i class="material-icons">home</i>
        Home</a>
      <a class="mdl-navigation__link" routerLink="/about" href="">
        <i class="material-icons">info</i>
        About Us</a>
      <a class="mdl-navigation__link" (click)="onManualLocationClicked($event)" href="">
        <i class="material-icons">edit_location</i>
        <span [style.color]="this.currentLocation ? 'inherit': '#b0b0b0'">{{this.currentLocation ? ''+ this.currentLocation : ''+'Location Disabled'}} </span>
      </a>
      <a class="mdl-navigation__link" *ngIf="'/search' === currentRoute" routerLink="" href="">
        <i class="material-icons">calendar_today</i>
        Add to calendar</a>
      <a class="mdl-navigation__link" routerLink="" *ngIf="'/search' === currentRoute" href="">
        <i class="material-icons">share</i>
        Share </a>

    </nav>
  </div>
  <div class="iconHolder">
    <button routerLink="/" class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">home</i>
      <div >Home</div>
    </button>
    <button routerLink="/about" class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons" >info</i>
      <div >About</div>
    </button>
    <button class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons" (click)="onManualLocationClicked($event)">edit_location</i>
      <div >Location</div>
    </button>
    <button class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon" *ngIf="'/search' === currentRoute">
      <i class="material-icons">calendar_today</i>
      <div >Add</div>
    </button>
    <button class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon" *ngIf="'/search' === currentRoute">
      <i class="material-icons">share</i>
      <div >Share</div>
    </button>
  </div>
</div>

<ng-template #manualLocationEntry>
  <div class="introSection">
    <h1>
      Help us to find where you are
    </h1>
    <h4>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
      some
      form, by injected humour, or randomised words which don't look even slightly believable.
    </h4>

    <div class="wrapper">
      <mat-form-field class="manualLocationSearchBar">
        <input matInput #manualLocationInput placeholder="Start typing your location ">
      </mat-form-field>
      <mat-icon aria-hidden="false" (click)="setManualLocation()" aria-label="Example home icon">check</mat-icon>
    </div>
  </div>
</ng-template>

<div class="lowResolutionTitle">
  <span class="mdl-layout-title">FindYourGetaway</span>
</div>
