<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header ">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{ 'AppTitle' | translate }}</span>
      <div
        class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label mdl-textfield--align-right customNavTextField has-placeholder is-upgraded">
        <app-global-search></app-global-search>
      </div>
      <nav class="mdl-navigation">
        <a>
          <sign-in (sessionStatusUpdate)="updateSessionState()"></sign-in>
        </a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer" style="z-index: 999">
    <span class="mdl-layout-title">{{ 'AppTitle' | translate }}</span>
    <nav class="mdl-navigation customMdlNavigation">
      <a class="mdl-navigation__link" routerLink="/" href="">
        <i class="material-icons">home</i>
        {{ 'NavigationMenu_Home' | translate }}</a>
      <a class="mdl-navigation__link" routerLink="/about" href="">
        <i class="material-icons">info</i>
        {{ 'NavigationMenu_About' | translate }}</a>
      <a class="mdl-navigation__link" (click)="onManualLocationClicked($event)" href="">
        <i class="material-icons">edit_location</i>
        <span
          [style.color]="this.currentLocation ? 'inherit': '#b0b0b0'">{{this.currentLocation ? ''+ this.currentLocation : ''+'Location Disabled'}}
        </span>
      </a>
      <a *ngIf="showSearchHistoryRouterLink" class="mdl-navigation__link" routerLink="/search-history" href="">
        <i class="material-icons">history</i>
        {{ 'NavigationMenu_History' | translate }}</a>
      <a class="mdl-navigation__link" *ngIf="'/search' === currentRoute" routerLink="" href="">
        <i class="material-icons">calendar_today</i>
        {{ 'SearchTableAddToCalendar' | translate }}</a>
      <a class="mdl-navigation__link" routerLink="" *ngIf="'/search' === currentRoute" href="">
        <i class="material-icons">share</i>
        {{ 'NavigationMenu_Share' | translate }} </a>

    </nav>
  </div>
  <div class="iconHolder">
    <button routerLink="/" id="_iconHolderHome" class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">home</i>
      <div>{{ 'NavigationMenu_Home' | translate }}</div>
    </button>
    <div class="mdl-tooltip" data-mdl-for="_iconHolderHome">
      Back to Home
    </div>
    <button routerLink="/about" id="_iconHolderInfo" class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">info</i>
      <div>{{ 'NavigationMenu_About' | translate }}</div>
    </button>

    <div class="mdl-tooltip" data-mdl-for="_iconHolderInfo">
      About this app
    </div>
    <button class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon" id="_iconHolderLoc">
      <i class="material-icons" (click)="onManualLocationClicked($event)">edit_location</i>
      <div>{{ 'NavigationMenu_Location' | translate }}</div>
    </button>
    <button *ngIf="showSearchHistoryRouterLink" routerLink="/search-history" id="_iconHolderSearchHistory"
      class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">history</i>
      <div>{{ 'NavigationMenu_History' | translate }}</div>
    </button>
    <div class="mdl-tooltip" data-mdl-for="_iconHolderSearchHistory">
      View search history
    </div>
    <div class="mdl-tooltip" data-mdl-for="_iconHolderLoc">
      Edit Current Location
    </div>
    <button class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon" id="_iconHolderCal"
      *ngIf="'/search' === currentRoute">
      <i class="material-icons">calendar_today</i>
      <div>Add</div>
    </button>
    <div class="mdl-tooltip" data-mdl-for="_iconHolderCal">
      Add to Calendar
    </div>
    <button class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon" id="_iconHolderShare"
      *ngIf="'/search' === currentRoute">
      <i class="material-icons">share</i>
      <div>{{ 'NavigationMenu_Share' | translate }}</div>
    </button>
    <div class="mdl-tooltip" data-mdl-for="_iconHolderShare">
      Share as a ppt
    </div>
  </div>
</div>

<ng-template #manualLocationEntry>
  <div class="introSection">
    <h1>
      {{ 'LocationChangeHedingText' | translate }}
    </h1>
    <h4>
      {{ 'LocationChangeText' | translate }}
    </h4>

    <div class="wrapper">
      <mat-form-field class="manualLocationSearchBar">
        <input matInput #manualLocationInput placeholder="Start typing your location ">
      </mat-form-field>
      <mat-icon aria-hidden="false" (click)="setManualLocation()" aria-label="Example home icon">check</mat-icon>
    </div>
  </div>
</ng-template>

<div class="lowResolutionTitle">
  <span class="mdl-layout-title">{{ 'AppTitle' | translate }}</span>
</div>