$fontColor: #f8f8f8;

.manualLocationSearchBar {
  padding: 20px 0;
  width: 50%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  line-height: 2em;
}

.mdl-layout-title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.mdl-layout__header-row .mdl-navigation__link {
  display: block;
  line-height: 64px;
  font-weight: bold;
  padding: 0 5px;
  font-size: 0.9em;
}

.editLocation {
  font-size: 13px;
  vertical-align: super;
  margin: 0px;

}

.customNavTextField {
  flex-grow: 1;
  text-align: center;

}

.mdl-layout__header {
  background: #1d275d;
  box-shadow: none;
  color: $fontColor;
}

.mdl-navigation__link {
  color: $fontColor !important;
}

.iconHolder {

  width: 70px;
  box-shadow: none;
  border: none;
  padding: 12px 0;
  position: fixed;
  top: 64px;
  left: 0;
  background-color: #0b1126;
  bottom: 0;
  text-align: center;
  z-index: 9;

  button {
    width: 100%;
    border-radius: 0;
    margin: 0;
    display: block;
    height: 75px;
    text-align: center !important;

    i {
      color: #cacaca;
      font-size: 23px;
      position: relative;
      display: block;
      margin: 0px 0px;
    }
    div {

      width: 100%;
      text-transform: none;
      font-family: "Montserrat", sans-serif;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      margin: 0px 0;
      padding: 0;
      color: #FFF;
    }
  }
}

.customMdlNavigation {
  a {
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    font-size: 0.9em;
    color: #151515 !important;
    white-space: nowrap;
    overflow: hidden;
    background: #b4b4b4;
    text-overflow: ellipsis;
    word-break: break-word;
    margin: 0px 0px;
    i {
      font-size: 30px;
      margin: 0 5px;
    }
  }
}

.main {
  padding-bottom: 80px;
}

.introSection {
  padding: 5px 5%;
  background: white;
  width: 100%;
  margin: 40px 0 50px;
  text-align: center !important;
  h1 {
    font-size: 2.5em;
    padding: 0px 0 11px;
    text-align: center;
    font-family: "Lato", sans-serif;
  }
  h4 {
    font-weight: bold;
    font-size: .9em;
    padding: 0 1%;
    line-height: 1.4em;

  }
}

.lowResolutionTitle {
  display: none;
}

@media only screen and (max-width: 1032px) {
  .iconHolder {
    display: none;
  }
  .lowResolutionTitle {
    background: #1d275d;
    height: 64px;
    display: block;
    padding: 22px 80px;
    left: 0;
    right: 0;
    z-index: 2;
    position: fixed;
    top: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif !important;
    color: white;
  }
  .introSection {
    padding: 0px 0 !important;
    background: white;
    width: 100%;
    font-size: 12px;
    text-align: center !important;
    margin: 20px 0 5px 0;
    .manualLocationSearchBar {
      padding: 20px 0;
      width: 80%;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      font-size: 1em;
      line-height: 2em;
    }
  }

}
