.parentGrid {
  margin: 25px 0px 0 25px;
  .mdl-cell--12-col {
    margin: 5px 0px !important;
    width: 100%;
    .demo-card-wide.mdl-card {
      background-size: cover;
      background: no-repeat center;
      width: 100%;
    }
    .demo-card-wide > .mdl-card__title {
      transition: all 1.2s ease;
      color: #fff;
      height: 176px;
      font-weight: bold !important;
      background: rgba(0, 0, 0, 0.15);
      h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: #d7d7d7;
        transition: all 1.2s ease;
        font-size: 1.2em;
        padding: 0 10px;
      }

    }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
    .demo-card-wide > .mdl-card__supporting-text {
      width: 100%;
      background: rgba(0, 0, 0, 0.82);
      color: #898989;
      font-size: .75em;
      font-weight: bold;
      transition: all 1.2s ease;
    }

    .demo-card-wide > .mdl-card__actions {
      background: rgba(0, 0, 0, 0.82);
      text-align: right;
      padding: 0px 25px 20px;
      transition: all 1.2s ease;

      .mdl-js-button {
        color: #d7d7d7;
        font-weight: bold !important;
        transition: all 1.2s ease;
      }
      span {
        color: #8f8f8f;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: .72em;
        margin-right: 14px;
        transition: all 1.2s ease;

      }
      i{
        font-size: 18px;
      }
    }
  }
}

.demo-card-wide:hover {
  .mdl-card__supporting-text {
    background: rgba(0, 0, 0, 0.86) !important;
    color: #efefef !important;
  }
  .mdl-card__title {
    background: rgba(0, 0, 0, 0.56) !important;
    h2 {
      color: #FFF !important;
    }
  }
  .mdl-card__actions {
    background: rgba(0, 0, 0, 0.86) !important;
    .mdl-js-button {
      color: #fefefe !important;
    }
    span {
      color: #fefefe !important;
    }
  }
}
