.wrapper {
  background: white;
  margin-left: 25px;
  padding: 20px 0;
  margin-top: -60px;
  .left{
    display: none;
  }
  .right{
    display: none;
  }
}

.slideParent{

  margin: 0 2px ;
  .demo-card-wide.mdl-card {
    background-size: cover;
    background: no-repeat center;
    width: 100%;
  }
  .demo-card-wide > .mdl-card__title {
    transition: all 1.2s ease;
    color: #fff;
    height: 176px;
    font-weight: bold !important;
    background: rgba(0, 0, 0, 0.15);
    h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: #d7d7d7;
      transition: all 1.5s ease;
      font-size: 1.2em;
      padding: 0 10px;
    }

  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .demo-card-wide > .mdl-card__supporting-text {
    width: 100%;
    background: rgba(0, 0, 0, 0.82);
    color: #898989;
    font-size: .75em;
    font-weight: bold;
    transition: all 1.8s ease;
  }

  .demo-card-wide > .mdl-card__actions {
    background: rgba(0, 0, 0, 0.82);
    text-align: right;
    padding: 0px 6px 8px;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;

    .mdl-js-button {
      color: #d7d7d7;
      font-weight: bold !important;
      transition: all 1s ease;
    }
    span {
      color: #8f8f8f;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: .72em;
      margin-right: 14px;
      transition: all 2.2s ease;

    }
    i {
      font-size: 18px;
    }
  }
}

.demo-card-wide:hover {
  .mdl-card__supporting-text {
    background: rgba(0, 0, 0, 0.86) !important;
    color: #efefef !important;
  }
  .mdl-card__title {
    background: rgba(0, 0, 0, 0.56) !important;
    h2 {
      color: #FFF !important;
    }
  }
  .mdl-card__actions {
    background: rgba(0, 0, 0, 0.86) !important;
    .mdl-js-button {
      color: #218efe !important;
    }
    span {
      color: #fefefe !important;
    }
  }
}


@media only screen and (max-width: 1032px) {

  .mdl-card__actions {
    span {
    display: none;
    }
  }
}
