.createEvent {
    .dateField {
        text-align: left;
        .mdl-textfield{
            padding-top: 0;
        }
    }
    .mdl-textfield {
        width: 100%;
    }
    .mdl-button {
        margin-top: 20px;
    }
}