<form id="createEventForm" class="createEvent" [formGroup]="createEventForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="title" [formControl]="title">        
        <label class="mdl-textfield__label" for="title"></label>
    </div>

    <diV class="dateField">
        <label>{{ 'FromLabel' | translate }}</label>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="date" id="start" [formControl]="start">
            <label class="mdl-textfield__label" for="start"></label>
        </div>
    </diV>
    <div class="dateField">
        <label>{{'ToLabel' | translate }}</label>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="date" id="end" [formControl]="end">
            <label class="mdl-textfield__label" for="end"></label>
        </div>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised">
        {{ 'CreateEventButtonText' | translate }}
    </button>
</form>
