<div class="wrapper">
    <div class="container">
        <div class="info">
            <div class="title">
                {{targetLocation?.name}}
                <br>
                {{targetLocation?.formatted_address}}
            </div>
            <div #mapContainer id="map" class="map-container"></div>

            <div class="images">
                <div class="box" *ngFor="let image of targetLocation.photos">
                    <img  [src]="image" alt="">
                </div>
            </div>
        </div>
    </div>
</div>