.wrapper {
    .container{
        width: 70%;
        margin: auto;
    }
    .images{
        img{
            width: 100%;
        }
        .box{
            display: inline-block;
            vertical-align: top;
            max-width: 30%;
        }
    }
}

#map {
    height: 600px;
    width: 100%;
}
  