<div class="wrapper">
    <div class="container">
        <div class="main-lc mdl-grid" *ngIf="targetLocation">
            <div class="info mdl-cell mdl-cell--12-col">
                <div class="title">
                    <h3>
                        {{targetLocation?.name}}
                    </h3>
                    {{targetLocation?.formatted_address}}
                </div>
            </div>
            <div class="carousel mdl-cell mdl-cell--12-col">
                <app-location-images [images]=targetLocation.photos></app-location-images>
            </div>
        </div>

        <div class="mdl-grid" style="padding: 0;">
            <div class="mdl-cell mdl-cell--6-col weather">
                <div #mapContainer id="map" class="map-container"></div>
            </div>
            <div class="mdl-cell mdl-cell--6-col weather" *ngIf="targetLocation">
                <app-weather-widget [weather]="weatherDetails"></app-weather-widget>
            </div>
        </div>

        <div class="mdl-grid" style="padding: 0; margin: 0;" *ngIf="targetLocation && places[0]">
            <div class="carousel mdl-cell mdl-cell--12-col">
                <h3>Places of interest</h3>
                <div class="nearby">
                    <div class="mdl-grid">
                        <div class="carousel mdl-cell mdl-cell--12-col">
                            <app-places-carousel [places]=places></app-places-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>