.wrapper {
    .container{
        width: 80%;
        margin: auto;
    }
    .images{
        img{
            width: 100%;
        }
        .box{
            display: inline-block;
            vertical-align: top;
            max-width: 30%;
        }
    }
    .masonry-item{
        img{
            max-width: 17rem;
            cursor: pointer;
            border: 2px solid #fff;
        }
    }
}

#map {
    height: 600px;
    width: 100%;
}
  