<div class="wrapper">
    <div class="container">
        <div class="main-lc mdl-grid">
            <div class="info mdl-cell mdl-cell--12-col">
                <div class="title">
                    <h3>
                        {{targetLocation?.name}}
                    </h3>
                    {{targetLocation?.formatted_address}}
                </div>
            </div>
            <div class="carousel mdl-cell mdl-cell--12-col">
                <app-location-images [images]=targetLocation.photos></app-location-images>
            </div>
        </div>

        <div class="mdl-grid" style="padding: 0;">
            <div class="mdl-cell mdl-cell--6-col weather">
                <div #mapContainer id="map" class="map-container"></div>
            </div>
            <div class="mdl-cell mdl-cell--6-col weather">
                <app-weather-widget [weather]="weatherDetails"></app-weather-widget>
            </div>
        </div>

        <h3>Places of interest</h3>
        <div class="nearby">
            <ngx-masonry [useImagesLoaded]="true" [updateLayout]="true">
                <div ngxMasonryItem class="masonry-item" *ngFor="let place of places">
                    <div class="b-box" *ngIf="place.imageUrl">
                        <img [src]="place.imageUrl" alt="">
                        <div class="text">
                            <span class="name block">
                                {{place.name}}
                            </span>
                            <span class="rating block">
                                <span class="material-icons">
                                    grade
                                </span>
                                {{place.rating}}
                            </span>
                        </div>
                    </div>
                </div>
            </ngx-masonry>
        </div>


    </div>
</div>
