.wrapper {
    padding: 30px 40px;
    width: 90%;
    margin: auto;
    background-color: #fff;
    margin-top: 70px;
    border-radius: 5px;
    .table-container {
        table {
            width: 100%;
        }
    }
}

.mdl-dialog {
    width: 80%;
    height: 50vh;
    padding: 50px 33px 20px 0;

    button {
        float: right;
        margin-top: -42px;
        margin-right: -28px;
    }
}