

.search-bar::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #fff;
}

.search-bar {
  width: 50%;
}

.search-bar::ng-deep .mat-form-field {
  width: 100%;
}

::ng-deep {
  .mat-toolbar {
    background-color: #0f4bab;
    color: #ffffff;
  }
  .mat-toolbar-single-row {
    justify-content: space-between;
  }
}



.introSection {
  padding: 5px 5%;
  background: white;
  width: 100%;
  margin: 40px 0 50px;
  text-align: center !important;
  h1 {
    font-size: 2.5em;
    padding: 0px 0 11px;
    text-align: center;
    font-family: "Lato", sans-serif;
  }
  h4 {
    font-weight: bold;
    font-size: .9em;
    padding: 0 1%;
    line-height: 1.4em;

  }
}
