$fontColor: #2e2e2e;

.search-bar::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #fff;
}

.search-bar {
  width: 50%;
}

.search-bar::ng-deep .mat-form-field {
  width: 100%;
}

::ng-deep {
  .mat-toolbar {
    background-color: #0f4bab;
    color: #ffffff;
  }
  .mat-toolbar-single-row {
    justify-content: space-between;
  }
}

.main {
  padding-bottom: 80px;
}

.introSection {
  padding: 5px 5%;
  background: white;
  width: 100%;
  margin: 40px 0 50px;
  text-align: center !important;
  h1 {
    font-size: 2.5em;
    padding: 0px 0 11px;
    text-align: center;
    font-family: "Lato", sans-serif;
  }
  h4 {
    font-weight: bold;
    font-size: .9em;
    padding: 0 1%;
    line-height: 1.4em;

  }
}

.manualLocationSearchBar {
  padding: 20px 0;
  width: 50%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  line-height: 2em;
}

.mdl-layout-title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.mdl-layout__header-row .mdl-navigation__link {
  display: block;
  color: rgb(255, 255, 255);
  line-height: 64px;
  font-weight: bold;
  padding: 0 24px;
  font-size: .9em;
}

.mdl-navigation__link span {
  margin: 0 5px;
  font-size: 11px;
}

.editLocation {
  font-size: 13px;
  vertical-align: super;
  margin: 0px;

}

.customNavTextField {
  flex-grow: 1;
  text-align: center;

}

.mdl-layout__header {
  background: #f9f9f9;
  box-shadow: none;
  color: $fontColor;
}


.mdl-navigation__link{
  color: $fontColor !important;
}
