.demo-card-wide {
    cursor: pointer;
    width: 90%;
    background-repeat: no-repeat!important;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 4px;
    height: 250px;
    background-size: 100% 75%!important;
    max-width: 300px;
    .mdl-card__supporting-text{
        position: absolute;
        bottom: 0;
        background: #fff;
        width: 100%;
        padding: 10px;
        text-align: left;
    }
    .mdl-card__title-text{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .rating {
        font-size: 12px;
        text-align: left;
        .material-icons{
            font-size: 20px;
            color: gold;
        }
        span{
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

.wrapper {
    position: relative;
    width: 97%;
    button{
        position: absolute;
        outline: none;
        top: 30%;
        z-index: 999;
        background-color: #fff;
    }
    .left{
        left: -35px;
    }
    .right{
        right: -35px;
    }
}
