ul {
  list-style-type: none;
  padding: 0;
}

.city-info {
  font-size: .85em;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  display: table;
  table-layout: fixed;
  margin: 8px;
  width: 98%;
  padding: 20px 20px !important;
  min-height: 58px;
  border: solid #cecece 2px;
}

.city-info a {
  text-decoration: none;
  color: inherit;
}

.city-info .city-name {
  color: #000;
  font-size: 1em;
  line-height: 1.6em;
  font-weight: bold;
  padding-bottom: 10px;
 }

.city-info .city-img {
  float: right;
  height: 86px;
  width: auto;
}

.city-info p {
  margin-bottom: 0;
  font-size: .9em;
  font-weight: bold;
}

.parentContainer {
  width: 50%;
  position: absolute;
  right: 0;
  padding: 0 0 50px;
}
