<div *ngIf="this.parentComponent !== 'searchComponent'">
  <h1 align="center">
    Our Location Listings
  </h1>
  <h4 align="center">
    <span>Based on our calculation, these locations are close to you and are suitable for weekend getaway</span>
  </h4>
</div>
<!-- {{destinations}} -->
<!-- <div *ngIf="destinations.length"> -->
<!-- <div [ngClass]="this.parentComponent === 'searchComponent' ? 'leftAlignedContainer': 'centerAlignedContainer'"> -->
<div class="container">
  <div align="center" *ngIf="destinations.length === 0" class="spinner"><img src="../../../assets/images/151%20(2).gif">
    <h4 align="center">
      Please wait.. You locations are being loaded.
    </h4>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">
          Destination
        </th>
        <th>
          Distance
        </th>
        <th>
          Image
        </th>
      </tr>
    </thead>
    <tbody *ngFor= "let destination of destinations; let destinationIndex = index;">
      <tr data-toggle="collapse" [attr.data-target]="'#data' + destinationIndex">
        <td class="mdl-data-table__cell--non-numeric"> {{destination.location}} --- {{destinationIndex}}
        </td>
        <td>{{destination.details.distance.text}} away</td>
        <td><img [src]="destination.imageUrl" class="city-img"></td>
      </tr>
      <tr colspan="6" class="hiddenRow collapse"  [attr.id]="'data' + destinationIndex">
        <div id="demo1">{{destination.information ? destination.information : 'No Information Available'}} </div>
      </tr>
    </tbody>
  </table>
</div>



