h4 {
  font-weight: bold;
  font-size: 0.9em;
  padding: 0 15%;
  line-height: 1.4em;
}

.spinner {
  img {
    width: 100px;
    margin: 50px 0 10px;
  }

}

cdk-virtual-scroll-viewport {
  height: 400px;
}

.centerAlignedContainer {
  text-align: left;
}
.search-list {
  tr {
    white-space: normal;

    td {
      img {
        width: 100px;
        margin: 10px 0 10px;
      }

      ul.mdl-menu li .mat-icon {
        font-size: 16px;
      }
    }
  }

  tr.destinationRow {
    font-weight: bold;
    cursor: context-menu;
  }

  tr.hiddenRow {
    font-weight: normal;
    
    td {
      text-align: justify;
    }
  }

  .name {
    width:40%;
    text-align: left;
  }

  .dest-image {
    width:20%;
  }

  .close {
    width:5%;
  }

  .distance{
    width: 33%;
  }

  .description {
    margin:24px;
  }

  .expand {
    width:5%;
    text-align: left;
  }
}

.mdl-dialog.createEvent {
  width: 40%;

  .dialogHeader {
    display: flex;
    justify-content: space-between;

    .mdl-dialog__title {
      padding: 0;
      font-size: 2rem;
    }
  }
}
