.mdl-card {
  width: 100%; // To override fixed width from mdl-card class

  #map {
    height: 600px;
  }
}

@media only screen and (max-width: 1032px) {
  #map{
    height: 312px !important;
    margin: 36px -2px !important;
    width: 100% !important;
    border: 3px solid #828282 !important;
  }
}
