
.global-search-bar {
  width: calc(100% - 100px) !important;
}

.mat-icon {
  vertical-align: text-bottom;
  font-size: 26px;
  padding: 0 5px;

}

#waterfall-exp {
  border-bottom: 2px solid #000938;
  display: block;
  font-weight: bold;
  font-size: 11px;
  font-family: inherit;
  padding: 18px 7%;
  width: 75%;
  height: 32px;
  background: 0 0;
  text-align: left;
  color: inherit;
}

#waterfall-exp::-webkit-input-placeholder { /* Edge */
  color: #c6c6c6;
}

#waterfall-exp:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c6c6c6;
}

#waterfall-exp::placeholder {
  color: #c6c6c6;
}

.mdl-textfield__expandable-holder {
  max-width: inherit !important;
  width: 40%;
}

.mdl-button--icon {
  position: absolute;
  bottom: 20px;
  margin: 2px 17.5px;
  width: 53px;
  border-radius: 0;
  border: 0;
}
