<form [formGroup]="searchForm" class="search-form" (ngSubmit)="onSubmit()" novalidate>
  <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" formArrayName="formArray" [linear]="false">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Fill out general details</ng-template>
      <mat-form-field>
        <mat-label>Persons</mat-label>
        <input matInput formControlName="person" type="number" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Budget</mat-label>
        <input matInput formControlName="budget" type="number" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Duration</mat-label>
        <input matInput formControlName="duration" type="number" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>
        <div>Select your hotel type</div>
      </ng-template>
      <mat-form-field>
        <mat-label>Hotel type</mat-label>
        <mat-select formControlName="hotel">
          <mat-option *ngFor="let rating of hotelRatingOptions" [value]="rating.value">
            {{rating.value}}
          </mat-option>
        </mat-select>
        <mat-error>The field is required</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
      <ng-template matStepLabel>Tell us how you would be travelling?</ng-template>
      <div class="travel-type">
        <mat-label>Travel by</mat-label>
        <mat-radio-group aria-label="Select an Option" formControlName="travel" required>
          <mat-radio-button *ngFor="let travel of travelTypeOptions" [value]="travel.value">
            {{travel.value}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <button mat-button>Done</button>
        <button type="button" mat-button (click)="linearHorizontalStepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
