$themeFont: 'Montserrat', sans-serif;

.search-form {
  .mat-icon {
    font-size: 20px;;
  }

  mat-form-field {
    margin: 10px 20px 10px 10px;
    font-family: $themeFont;
    font-weight: bold;
    font-size: .8em;
    mat-label {
      color: #333;
      font-size: .9em;
    }
  }
  mat-form-field input {
    color: #333;
    padding: 3px;
  }

  .mat-button.mat-button-base {
    float: right;
  }

  mat-radio-button {
    .mat-radio-label-content {
    }
    font-size: .9em;
    font-family: $themeFont !important;
  }

  .travel-type {
    display: flex;
    flex-direction: column;
    mat-label {
      margin: 0 22px 22px;
      font-weight: bold;
      font-size: .8em;
    }
    mat-radio-group {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  }
  .mat-stepper-horizontal, .mat-stepper-vertical {
    font-family: $themeFont;
    color: #333;
    text-transform: capitalize;
    font-weight: bold;
  }

  .mat-form-field-label {
    color: #333 !important;
  }

  button {
    font-family: $themeFont;
    font-size: .8em;
    font-weight: bold;
  }
}

.mat-error {
  font-family: $themeFont;
  font-size: 1.1em;
  font-weight: 100;
  color: coral;
}

.stepperInfoSection {
  width: 80%;
  display: inline;
  float: left;
  font-weight: 600;
  font-size: 0.78em;
  padding: 19px 15px 0;
  color: #333;
}
