.search-form {
    mat-form-field {
        margin: 10px 20px 10px 10px;
    }
    
    .mat-button.mat-button-base {
        margin-top: 20px;
    }

    .travel-type {
        display: flex;
        mat-label {
            color: rgb(0,0,0,0.54);
            margin-right: 10px;
        }
        mat-radio-group {
            display: flex;
            flex-direction: column;
            font-size: 14px;
        }
    }
}