<form [formGroup]="searchForm" class="search-form" (ngSubmit)="onSubmit($event)" novalidate>
  <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" formArrayName="formArray" [linear]="false">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Fill out general details
        <div>
          <span *ngIf="formArray?.get([0]).get('person').value">
            <mat-icon>people</mat-icon>
            {{formArray?.get([0]).get('person').value}}
          </span>
          <span *ngIf="formArray?.get([0]).get('budget').value">
            <mat-icon>payment</mat-icon>
            {{formArray?.get([0]).get('budget').value}}
          </span>
          <span *ngIf="formArray?.get([0]).get('duration').value">
            <mat-icon>timer</mat-icon>
            {{formArray?.get([0]).get('duration').value}}
          </span>
        </div>
      </ng-template>
      <mat-form-field>
        <mat-label>Number of travellers</mat-label>
        <input matInput formControlName="person" type="number" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Budget per person</mat-label>
        <input matInput formControlName="budget" type="number" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Total days of trip</mat-label>
        <input matInput formControlName="duration" type="number" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <div>
        <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" matStepperNext>
          <i class="material-icons">arrow_forward</i>
        </button>
      </div>
      <div class="stepperInfoSection">
        Necessary details to initiate our search.
      </div>

    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>
        <div>Select your hotel type</div>
        <div>
          <span *ngIf="formArray?.get([1]).get('starrating').value">
            <mat-icon> hotel</mat-icon>
            {{formArray?.get([1]).get('starrating').value}}
          </span>
        </div>
      </ng-template>
      <mat-form-field>
        <mat-label>Hotel type</mat-label>
        <mat-select formControlName="starrating">
          <mat-option *ngFor="let rating of hotelRatingOptions" [value]="rating.value">
            {{rating.value}}
          </mat-option>
        </mat-select>
        <mat-error>The field is required</mat-error>
      </mat-form-field>
      <div>
        <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" matStepperNext>
          <i class="material-icons">arrow_forward</i>
        </button>
        <button type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" matStepperPrevious>
          <i class="material-icons">arrow_back</i>
        </button>
      </div>

      <div class="stepperInfoSection">
        Just one more step after this.
      </div>
    </mat-step>

    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
      <ng-template matStepLabel>Tell us how you would be travelling?
        <div>
          <span *ngIf="formArray?.get([2]).get('travelmode').value === 'Two Wheeler'">
            <mat-icon>directions_bike</mat-icon>
          </span>
          <span *ngIf="formArray?.get([2]).get('travelmode').value === 'Four Wheeler'">
            <mat-icon>directions_car</mat-icon>
          </span>
          <span *ngIf="formArray?.get([2]).get('travelmode').value === 'train'">
            <mat-icon>directions_railway</mat-icon>
          </span>
          <span *ngIf="formArray?.get([2]).get('travelmode').value === 'bus'">
            <mat-icon>directions_bus</mat-icon>
          </span>
          <span *ngIf="formArray?.get([2]).get('travelmode').value === 'flight'">
            <mat-icon>flight</mat-icon>
          </span>
        </div>
      </ng-template>
      <div class="travel-type">
        <mat-label>Travel by</mat-label>
        <mat-radio-group aria-label="Select an Option" formControlName="travelmode" required>
          <mat-radio-button *ngFor="let travel of travelTypeOptions" [value]="travel.value" (change)="optionChanged($event)">
            {{travel.value}}
          </mat-radio-button>
        </mat-radio-group>

        <div class="travel-subtype" *ngIf="travelmode && travelmode.toLowerCase() === 'four wheeler'">
          <mat-form-field>
            <mat-label>Car Type</mat-label>
            <mat-select formControlName="cartype">
              <mat-option *ngFor="let type of carTypeOptions" [value]="type.value">
                {{type.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Engine Type</mat-label>
            <mat-select formControlName="enginetype">
              <mat-option *ngFor="let type of engineTypeOptions" [value]="type.value">
                {{type.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="travel-subtype" *ngIf="travelmode === 'bus'">
          <mat-form-field>
            <mat-label>Bus Type</mat-label>
            <mat-select formControlName="bustype">
              <mat-option *ngFor="let type of busTypeOptions" [value]="type.value">
                {{type.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="travel-subtype" *ngIf="travelmode === 'train'">
          <mat-form-field>
            <mat-label>Train Class</mat-label>
            <mat-select formControlName="trainclass">
              <mat-option *ngFor="let type of trainTypeOptions" [value]="type.value">
                {{type.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button (click)="linearHorizontalStepper.reset()" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
          <i class="material-icons">clear</i>
        </button>
        <button type="button" [disabled]="!searchForm.valid" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
          <i class="material-icons">send</i>
        </button>
      </div>
      <div class="stepperInfoSection">
        Almost done!
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
