.searchResults {
  display: flex;
  flex-direction: column;
  margin: 0;

  .mdl-dialog {
    width: 70%;

    .dialogHeader {
      display: flex;
      justify-content: space-between;

      .mdl-dialog__title {
        padding: 0;
        font-size: 2rem;
      }
    }
  }

  div.searchParamSummary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;

    div {
      span {
        mat-icon {
          font-size: 20px;
          font-weight: normal;
          margin: 10px;
        }
      }
    }
  }  
  
  &__mapListView {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 98%;

    .map {
      width: 70%;
      margin-left: 10px;
    }

    .search-table {
      max-height: 600px;
      overflow-y: auto;
      width: 50%;
    }
  }
}
