.wrapper{
    padding: 20px;
    margin: 60px 0;
    width: 100%;
}

.top-panel{
    position: relative;
    padding: 20px;
    .day{
        font-size: 20px;
    }
    .date{
        font-size: 15px;
    }
    .icon{
        text-align: center;
        img{
            position: absolute;
            margin-top: -12px;
            margin-left: -35px;
        }
    }
    .temp{
        font-size: 35px;
        margin: 15px 0;
    }
}

.bottom-panel{
    display: flex;
    .week{
        text-align: center;
        font-size: 12px;
    }
    .icon{
        text-align: center;
        img{
            width: 100%;
        }
    }
    .temp{
        font-size: 12px;
        text-align: center;
    }
    .row{
        width: 80%;
        margin: auto;
    }
}