.wrapper{
    padding: 20px 22px;
    width: 100%;
}

.top-panel{
    position: relative;
    .day{
        font-size: 20px;
    }
    .date{
        font-size: 15px;
    }
    .icon{
        text-align: center;
        position: relative;
        top: -20px;
    }
    .temp{
        font-size: 35px;
        margin: 15px 0;
    }
}

.bottom-panel{
    display: flex;
    .week{
        text-align: center;
        font-size: 12px;
    }
    .icon{
        text-align: center;
        img{
            width: 100%;
        }
    }
    .temp{
        font-size: 12px;
        text-align: center;
    }
    .row{
        width: 94%;
        margin: auto;
        padding: 15px;
    }
}