.fullWidthBackground {
  width: 100%;
  background-size: cover !important;
  background: url("../../assets/images/bg2.jpg") no-repeat center;
  background-position: bottom;
  padding: 150px 0;

  .search {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    search-form {
      width: 60%;
    }
  }
}

.popularLocations {
  margin-top: 0px;
  text-align: center;
  width: calc(100% + 68px);
}

.loadingPopular {
  margin-top: 50px;
  text-align: center;

  .mdl-progress {
    margin-left: 33%;
    margin-top: 20px;
  }
}

.infoSection {
  padding: 5px 5%;
  background: white;
  width: 100%;
  margin: 40px 0 50px;
  h1 {
    font-size: 2.4em;
    padding: 0px 4px 11px;
    color: #413e47;
    font-weight: bold;
    text-align: left;
    font-family: "Lato", sans-serif;
  }
  h4 {
    font-weight: bold;
    font-size: .9em;
    padding: 0 1%;
    line-height: 1.4em;

  }
}

.search{
  margin: 100px 0 0 60px;

}
