<div class="search">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title>
          Find your perfect vacation
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>      
        <form class="search-form" id="searchForm" [formGroup]="searchForm">
          <mat-form-field>
            <mat-label id="persons">No. of Persons</mat-label>
            <input [formControl]="persons" matInput required />
          </mat-form-field>
          <mat-form-field>
            <mat-label id="budget">Budget</mat-label>
            <input [formControl]="budget" matInput required />
          </mat-form-field>
          <mat-form-field>
            <mat-label id="daysOfStay">Days of Stay</mat-label>
            <input [formControl]="daysOfStay" matInput required />
          </mat-form-field>
          <mat-form-field>
            <mat-label id="travelMode">Travel mode</mat-label>
            <input [formControl]="travelMode" matInput required />
          </mat-form-field>
          <mat-form-field>
            <mat-label id="hotelRating">Hotel</mat-label>
            <input [formControl]="hotelRating" matInput required />
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button [disabled]="!searchForm.valid" >Search</button>
      </mat-card-actions>
    </mat-card>
</div>
