<div class="search">
  <div class="mdl-grid">
    <div class="mdl-cell--7-col">
      <div class="mdl-cell--12-col">
        <div class="infoSection">
          <h1>
            Help us find your getaway!
          </h1>
          <h4>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some
            form, by injected humour, or randomised words which don't look even slightly believable.
          </h4>
        </div>
      </div>
      <div class="mdl-cell--12-col">
        <search-form></search-form>
      </div>
    </div>
    <div class="mdl-cell--5-col" style="background: #FFF">
      <div class="mdl-cell--12-col">
        <div class="popularLocations">
          <h1>Popular destinations around you
          </h1>
          <h4 class="popularDestLabel">
            We compiled a list for you. In case you want to take a look
          </h4>
        </div>
      </div>
      <div class="mdl-cell--12-col ">
        <div class="popularLocations" *ngIf="!loadingPopularLocations else loading">
          <app-search-list [locationData]="popularLocations"></app-search-list>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loadingPopular">
    Fetching popular destinations around you..
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  </div>
</ng-template>




