<div class="search">
  <div class="mdl-grid">
    <div class="mdl-cell--7-col mdl-cell--7-col-phone mdl-cell--7-col-tablet">
      <div class="mdl-cell--12-col">
        <div class="infoSection">
          <h1>
            {{ 'HomePageInfosectionHeading' | translate }}
          </h1>
          <h4>
            {{ 'HomePageInfosectionText' | translate }}
          </h4>
        </div>
      </div>
      <div class="mdl-cell--12-col">
        <search-form></search-form>
      </div>
      <div class="mdl-cell--12-col" style="margin-top: 30px">
        <div class="infoSection">
          <h1>Your most searched locations
          </h1>
          <h4 class="popularDestLabel">
            We compiled a list for you. In case you want to take a look. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some
            form, by injected humour, or randomised words which don't look even slightly believable.
          </h4>
        </div>
      </div>
      <div class="mdl-cell--12-col">
        <app-recent-locations></app-recent-locations>
      </div>
    </div>
    <div class="mdl-cell--5-col mdl-cell--5-col-phone mdl-cell--5-col-tablet popularDestinationParent" >
      <div class="mdl-cell--12-col">
        <div class="popularLocations">
          <h1>
            {{ 'PopularDestinationsHeading' | translate }}
          </h1>
          <h4 class="popularDestLabel">
            {{ 'PopularDestinationsText' | translate }}
          </h4>
        </div>
      </div>
      <div class="mdl-cell--12-col">
        <div class="popularLocations" *ngIf="!loadingPopularLocations else loading">
          <app-search-list [locationData]="popularLocations"></app-search-list>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loadingPopular">
    {{ 'PopularDestinationsLoadingText' | translate }}
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  </div>
</ng-template>




